@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

 :root{
    --titulo:  'Passion One';
    --conteudo: 'Sriracha';
    --corfundo: #00000080;
    --inutil: white;
 }
 body{
    margin: 0px;
    padding: 0px;
 }
 header{
    background-color: black;
    height: 30vh;
 }
 header h1{
    color: white;
    margin: 0px;
    padding: 40px;
    padding-bottom: 0px;
    text-align: center;
    font-family: var(--titulo), 'Times New Roman', Times, serif;
    font-size: 400%;
 }
 header p{
    color: white;
    margin: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-size: 100%;
 }
 a{
    color: white;
    text-decoration:none;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 a:hover{
    text-decoration: underline;
 }
 main p{
    font-family: var(--conteudo), cursive;
    font-size: 135%;
    padding: 30px;
    text-align: left;
    max-width: 40%;
 }
 .metade1{
    background-image: url('imagens/background001.jpg');
    background-position: center right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .metade1 p{
    margin-top: 0px;
 }
 .metade2{
    background-image: url('imagens/background002.jpg');
    background-position: center right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .fundo01{
    background-color: white;
 }
 .invisivel{
    background-color: var(--corfundo);
    color: white;
 }
 .fundo02{
    padding: 20px;
    max-width: 800px;
 }
 .fundo02 p{
    padding-left: 10px;
 }
 aside{
   background-color: darkgray;
   margin-top: -30px;
   position: relative;
   padding-bottom: 56.45%;
 }
 aside iframe{
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
 }
 footer{
    background-color: black;
    height: 5vh;
    margin-top: 30px;
 }
 footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 100%;
    max-width: 100%;
    padding: 5px;
    margin: 0px;
    text-align: center;
 }