@charset "UTF-8";

/*
cores
verde: #49a09d
lilas: #5f2c82
*/
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-color:#2c2f82 ;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.700);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

}
section#login > div#imagem{
    background: #2c2f82 url(../imagem/pexels-emre-can-acer-2110951.jpg) no-repeat;
    height: 150px;
    background-position: center center;
    background-size: cover;
    display: block;
}
section#login > div#formulario{
    padding: 10px;
    display: block;

}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 33px;
    background-color: rgb(240, 255, 255);
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
form > input[type=submit]:hover{
background-color:rgb(51, 115, 210); ;
color: white;
}
form a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 33px;
    background-color: azure;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}
form a.botao:hover{
    background-color:rgb(51, 115, 210); ;
    color: white;
}
a.botao > span.material-symbols-outlined{
    font-size: 1.2em;
    transform: translate(15%, 22%); 
}
form > div.campo{
    background-color: #2c2f82;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
}
div.campo > input{
    background-color: azure;
    width: 85%;
    height: 30px;
    border-radius: 5px;
    transform: translateY(-5%);
}

label{
    display: none;
}
div.campo span.material-symbols-outlined{
    transform: translateY(15%)
}

